<%- include("partials/header.ejs") %>

<div class="edit-container">
  <div class="edit-form-container">
      <h1>Edit Blog Post</h1>

      <form class="edit-form" action="/edit/<%= postId %>" method="POST">
        <input type="text" name="title" value="<%= post.title %>" required>
        <textarea name="content" required><%= post.content %></textarea>

<button class="btn-submit" type="submit">Update</button>
      </form>
        <form action="/delete/<%= postId %>" method="POST">
          <button class="btn-delete" type="submit">Delete</button>
        </form>

  </div>
  <a class="btn-edit" href="/">Go Back</a>
</div>

<%- include("partials/footer.ejs") %>